{:mba-fiap.datasource.postgres/db
 {:spec {:dbtype "postgresql"
         :classname "org.postgresql.Driver"
         :auto-commit true
         :read-only false
         :subprotocol "postgresql"
         :user #or [#env POSTGRES_USER "postgres"]
         :password #or [#env POSTGRES_PASSWORD "password"]
         :database-name #profile {:test "lanchonete-test"
                                  :local #or [#env POSTGRES_DB "lanchonete"]}
         :host #or [#env POSTGRES_HOST "localhost"]
         :port #profile {:default #or [#env POSTGRES_PORT 5400]}}}

 :mba-fiap.datasource.migratus/migratus
 {:store :database
  :migration-dir "migrations/"
  :init-in-transaction? false
  :migration-table-name "app_migrations"
  :db {:datasource #ig/ref :mba-fiap.datasource.postgres/db}}}
