{:mba-fiap.datasource.postgres/db
 {:spec {:dbtype "postgresql"
         :classname "org.postgresql.Driver"
         :auto-commit true
         :read-only false
         :subprotocol "postgresql"
         :user #or [#env POSTGRES_USER "postgres"]
         :password #or [#env POSTGRES_PASSWORD "password"]
         :host #or [#env POSTGRES_HOST "localhost"]
         :port #profile {:default #or [#env POSTGRES_PORT 5400]}}}

 :mba-fiap.datasource.migratus/migratus
 {:store :database
  :migration-dir "migrations/"
  :init-in-transaction? false
  :migration-table-name "app_migrations"
  :db {:datasource #ig/ref :mba-fiap.datasource.postgres/db}}


 [:mba-fiap.repository.repository/repository :repository/cliente]
 {:repository-name :cliente
  :connection #ig/ref :mba-fiap.datasource.postgres/db}

 :mba-fiap.adapter.http.server/server
 {:env #profile {:default :dev
                 :test :test
                 :prod :prod}
 :port #long #profile {:default #or [#env HTTP_PORT 8080]}
  :join? #profile {:default true
                   :dev false}}}
