{:mba-fiap.datasource.postgres/db
 {:spec {:dbtype      "postgresql"
         :classname   "org.postgresql.Driver"
         :auto-commit true
         :read-only   false
         :subprotocol "postgresql"
         :user        #or [#env POSTGRES_USER "postgres"]
         :password    #or [#env POSTGRES_PASSWORD "password"]
         :host        #or [#env POSTGRES_HOST "localhost"]
         :port        #profile {:default #or [#env POSTGRES_PORT 5432]}}}

 :mba-fiap.datasource.migratus/migratus
 {:store                :database
  :migration-dir        "migrations/"
  :init-in-transaction? false
  :reset-on-init?       #profile{:dev     true
                                 :test    true
                                 :default false}
  :migration-table-name "migrations"
  :properties           {:map {:migratus {:database #or [#env POSTGRES_DB "postgres"]}}}
  :db                   {:dbname     #or [#env POSTGRES_DB "postgres"]
                         :datasource #ig/ref :mba-fiap.datasource.postgres/db}}

 [:mba-fiap.repository.repository/repository :repository/cliente]
 {:repository-name :cliente
  :connection      #ig/ref :mba-fiap.datasource.postgres/db}

 [:mba-fiap.repository.repository/repository :repository/produto]
 {:repository-name :produto
  :connection      #ig/ref :mba-fiap.datasource.postgres/db}

 [:mba-fiap.repository.repository/repository :repository/pedido]
 {:repository-name :pedido
  :connection      #ig/ref :mba-fiap.datasource.postgres/db}


 :mba-fiap.service.auth/auth
 {:url #or [#env LAMBDA_URL "http://localhost"]}

 [:mba-fiap.adapter.nats/simple-handler :simple/printer]
 {:ctx        {}
  :handler-fn clojure.core/println}

 :mba-fiap.adapter.nats/client
 {:url               #or [#env NATS_URL "nats://66.51.121.86:4222"]
  :app-name          "lanchonete"
  :subjects-handlers {"lanchonete.*" #ig/ref :simple/printer}}

 :mba-fiap.adapter.nats/memory-nats {}

 :mba-fiap.service.pedido/checkout
 {:nats #ig/ref :mba-fiap.adapter.nats/client
  :pagamento-status #or [#env PAGAMENTO_STATUS "pagamento.status"]
  :pedido-novo-preparo  #or [#env PEDIDO_NOVO_PREPARO "pedido.novo-preparo"]
  :subject #or [#env PAGAMENTO_NOVO_PEDIDO "pagamento.novo-pedido"]}

 :mba-fiap.service.pedido/atualizar-status
 {:nats #ig/ref :mba-fiap.adapter.nats/client
  :repository/pedido    #ig/ref :repository/pedido
  :pedido-status #or [#env PAGAMENTO_STATUS "pedido.status"]
  :pagamento-status #or [#env PAGAMENTO_STATUS "pagamento.status"]}

 :mba-fiap.adapter.http.server/server
 {:env         #profile {:default :dev
                         :test    :test
                         :prod    :prod}
  :port        #long #profile {:default #or [#env HTTP_PORT 8080]}
  :join?       #profile {:default true
                         :test    false
                         :dev     false}

  :app-context {:nats                 #profile {:test #ig/ref :mba-fiap.adapter.nats/memory-nats
                                                :default #ig/ref :mba-fiap.adapter.nats/client}
                :migrations           #ig/ref :mba-fiap.datasource.migratus/migratus
                :usecase/checkout     #ig/ref :mba-fiap.service.pedido/checkout
                :repository/cliente   #ig/ref :repository/cliente
                :repository/produto   #ig/ref :repository/produto
                :repository/pedido    #ig/ref :repository/pedido
                :auth                 #ig/ref :mba-fiap.service.auth/auth}}}
